.controls {
  padding: 1rem;
  text-align: center;
  background: transparent;
  border-bottom: 2 px transparent #55c57a;
}

.control {
  position: relative;
  display: inline-block;
  width: 15%;
  height: 2.7rem;
  font-size: 200% !important;
  cursor: pointer;
  font-size: 80%;
  -webkit-transition: background 150ms;
  transition: background 150ms;

  border-bottom: 2px solid #55c57a;
  background-color: transparent;
  padding: 2px 0.1px;
  border: 1px solid transparent;
  margin: 10px 0;
}

.control:hover {
  border-radius: 20px;
  height: 5rem;
  border: 1px solid #55c57a;
}

.control[data-filter]:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: calc(50% - 6px);
  left: calc(50% - 6px);
  border: 2px solid transparent;
  border-radius: 2px;
  background: transparent;
  -webkit-transition: background-color 150ms, border-color 150ms;
  transition: background-color 150ms, border-color 150ms;
}

.control[data-sort]:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 2px solid;
  border-left: 2px solid;
  top: calc(50% - 6px);
  left: calc(50% - 6px);
  -webkit-transform: translateY(1px) rotate(45deg);
  transform: translateY(1px) rotate(45deg);
}

.control[data-sort*=":desc"]:after {
  -webkit-transform: translateY(-4px) rotate(-135deg);
  transform: translateY(-4px) rotate(-135deg);
}

.mixitup-control-active {
  border: 1px solid #3e454d;
  border-radius: 2px;
  font-weight: 180%;
  color: #55c57a;
  border-radius: 25px;
  height: 5rem;
}

.mixitup-control-active[data-filter]:after {
  background: transparent;
}

.control:first-of-type {
  width: 8.5rem;
}

.control[data-filter] + .control[data-sort] {
  margin-left: 0.75rem;
}

.control[data-filter=".green"] {
  color: #55c57a;
}

.control[data-filter=".blue"] {
  color: #55c57a;
}

.control[data-filter=".pink"] {
  color: #d595aa;
}

.control[data-filter="none"] {
  color: #2f2f2f;
}

/* Container
  ---------------------------------------------------------------------- */

.container {
  padding: 1rem;
  text-align: justify;
  font-size: 0.1px;
}

.container:after {
  content: "";
  display: inline-block;
  width: 100%;
}

/* Target Elements
  ---------------------------------------------------------------------- */

.mix,
.gap {
  display: inline-block;
  vertical-align: top;
}

.mix {
  border-top: 0.5rem transparent currentColor;
  border-radius: 2px;
  margin-bottom: 10rem;
  position: relative;
}

.mix:before {
  content: "";
  display: inline-block;
  padding-top: 56.25%;
}

.mix.green {
  color: #91e6c7;
}

.mix.pink {
  color: #d595aa;
}

.mix.blue {
  color: #5ecdde;
}

/* Grid Breakpoints
  ---------------------------------------------------------------------- */

/* 2 Columns */

.mix,
.gap {
  width: calc(100% / 1 - (((1 - 1) * 1rem) / 1));
}

/* 3 Columns */

@media screen and (min-width: 541px) {
  .mix,
  .gap {
    width: calc(100% / 1 - (((1 - 1) * 1rem) / 1));
  }
}

/* 4 Columns */

@media screen and (min-width: 961px) {
  .mix,
  .gap {
    width: calc(100% / 3 - (((3 - 1) * 1rem) / 3));
  }
}

/* 5 Columns */

@media screen and (min-width: 1281px) {
  .mix,
      /* .gap {
          width: calc(100%/5 - (((5 - 1) * 1rem) / 5));
      } */
      .gap {
    width: calc(100% / 3 - (((3 - 1) * 1rem) / 3));
  }
}

.mix img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

/* 
  /Make controls responsive accroding to screen  / */

/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  .controls {
    margin: 1rem -7rem;
  }

  .mix {
    margin-bottom: 20rem;
  }
  .mix img {
    height: 200%;
    width: 100%;
  }
}
